/**
 * 全局样式
 */

@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './reset.scss';
@use './themes.scss';
@use './components.scss';
@use './layout.scss';

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  transition:
    background-color $transition-normal,
    color $transition-normal;
}

html.modal-open,
body.modal-open {
  overflow: hidden;
}

body.modal-open .content {
  overflow: hidden;
}

// 滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: $radius-full;

  &:hover {
    background: var(--border-hover);
  }
}

